body {
  font-family: "Poppins", sans-serif;
  background-color: #272044;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.cards-header.grid-two-columns {
  grid-gap: 0;
}

.grid-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.text-center {
  text-align: center;
}

.embed {
  aspect-ratio: 1/1;
  width: 100%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/Sao-Paulo-Cathedral-Catedral-da-Se.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  padding: 200px;
  color: white;
}
header h1 {
  font-size: 80px;
  line-height: 1.5;
  font-weight: 600;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
}

header a {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-decoration: none;
  background-color: white;
  padding: 16px 32px;
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 1.5;
  color: #272044;
  margin-top: 32px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: #f8f8f8;
}

main {
  background-color: white;
}
main h2,
section.secondary h2 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5;
  color: #272044;
  opacity: 0.3;
  margin: 0;
}

main h3,
section.secondary h3 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin: 0;
}
main h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin: 0;
  color: #272044;
}

main h5 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin: 0;
  color: #272044;
}
main p {
  font-size: 14px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
.image-responsive {
  width: 100%;
}

.cards {
  background-color: white;
  margin: 30px 0;
}
.cards-body {
  padding: 0 30px;
}

.button {
  display: block;
  background-color: #462cb3;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 16px;
  margin: 25px 0;
}

footer section {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.7)
    ),
    url("/images/Cidade_Maravilhosa.jpg");
  background-position: center;
  background-size: cover;
  padding: 100px 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

footer p {
  font-size: 14px;
  opacity: 0.7;
}
footer h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

footer ul {
  margin: 0;
  padding-inline-start: 0;
}
footer li {
  margin: 0;
  list-style: none;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 50px;
  }
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 15px;
  }
  header a {
    font-size: 12px;
    padding: 8px 16px;
  }

  .grid-two-columns,
  .grid-three-columns {
    grid-template-columns: 1fr;
  }
  footer section {
    grid-template-columns: 1fr;
    padding: 30px;
  }
  section {
    padding: 30px;
  }
  .cards-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
